purescript-deku
generated-docs
node_modules
.psci_modules
.psci-ide-port
/dist
/packages/**/dist/
output
output-es
.spago
pnpm-lock.yaml
result
backend
src/Markup/Penrose/Examples
.vscode
src/Sketches.purs
notes

.purs-repl
packages/markup/src/Markup/Penrose/Examples/
packages/server/markdown

# Local Netlify folder
.netlify


