purescript-deku
generated-docs
node_modules
.psci_modules
.psci-ide-port
dist
output
output-es
.spago
pnpm-lock.yaml
result
backend
src/Markup/Penrose/Examples
.vscode
src/Sketches.purs

# Local Netlify folder
.netlify

